body {
    font-family: Arial, sans-serif;
    background-color: #f4fdf4;
    margin: 0;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.header-left h1 {
    color: #F0320C;
    font-size: 28px;
    margin: 0;
}

.header-right a {
    color: #1D75F0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

.header-right a:hover {
    color: #006400;
}

 
.main-content {
    flex: 1;
}

 
.dashboard-box {
    display: flex;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    border: 2px solid #006400;
    border-radius: 8px;
    flex-wrap: wrap;  
}

 
.form-side {
    flex: 1 1 400px;  
    padding: 30px;
}

.form-side h2 {
    color: #006400;
    text-align: center;
}

 
.form-side input,
.form-side select {
    width: 90%;  
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #006400;
    border-radius: 4px;
    display: block;
}

 
.form-side button {
    width: 50%;
    padding: 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 20px auto 0 auto;
}

 
.image-side {
    flex: 1 1 400px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side img {
    width: 90%;
}

 
.footer {
    text-align: center;
    padding: 15px 0;
    color: #006400;
    font-weight: bold;
    border-top: 1px solid #ccc;
    background-color: #f4fff4;
    margin-top: auto;  
}
