 
body {
    font-family: Arial, sans-serif;
    background-color: #f4fdf4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.header-left h1 {
    color: #F0320C; /* Dhaka Metro red */
    font-size: 28px;
    margin: 0;
}

.header-right a {
    color: #1D75F0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.header-right a:hover {
    color: #006400;
}

 
.dashboard-box {
    display: flex;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    border: 2px solid #006400;
    border-radius: 8px;
}

 
.form-side {
    flex: 1;
    padding: 30px;
}

.form-side h2 {
    color: #006400;
    text-align: center;
}

 
 .form-side input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #006400;
    border-radius: 4px;
}

 
.form-side select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #006400;
    border-radius: 4px;
    background-color: white;
}

 

/* Button */
.form-side button {
    width: 50%;
    padding: 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
}

/* Image side */
.image-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side img {
    width: 90%;
}

/* Footer */
.footer {
    text-align: center;
    color: #006400;
    padding: 15px 0;
    margin-top: auto;
}
 

